<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mapper.UserMapper">

    <select id="findByUsername" resultType="com.entity.User">
      SELECT * FROM users where username=#{username}
    </select>

    <select id="findUserById" resultType="com.entity.User">
      SELECT * FROM users where id=#{Id}
    </select>

    <select id="getPropertyByUsername" resultType="com.entity.Property">
        SELECT * FROM property where username=#{username}
    </select>

    <select id="getPropertyById" resultType="com.entity.Property">
        SELECT * FROM property where id=#{Id}
    </select>

    <update id="setPropertyByUsername">
        UPDATE property SET coin=#{new_coin}, level=#{new_level}, exp=#{new_exp}
        where username=#{username}
    </update>

</mapper>